body{
    background-image: url("Recursos/membresia.jpg");
    background-size: auto;
    font-family: Forte, sans-serif;
    overflow: auto;

}
.regresar-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.regresar-button img {
    max-width: 50px;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: center;
    background-color: rgba(242, 242, 242, 0.4);
    padding: 10px;
}

.menu ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    margin-right: 10px;
}

.menu li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu li a img{
    vertical-align: middle;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.menu li a:hover {
    background-color: #ddd;
}

h1{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: black;
    background-color: white;
}

p img{
    width: 90px;
    height: auto;
}

