/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 jun. 2023, 16:00:02
    Author     : rsdro
*/

body{
    font-family: Arial, sans-serif;
}

.menu{
    background-color: #f2f2f2;
    padding: 10px;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu li a:hover {
    background-color: #ddd;
}